<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
        <div class="card shadow">
            <div class="card-body">
            <h2 class="card-title text-center">Sobre o Book Swap Hub</h2>
            <p class="card-text">
                Bem-vindo ao <strong class="text-primary">Book Swap Hub</strong> - a sua plataforma para compartilhar e trocar livros com outros amantes da leitura!
            </p>
            <p class="card-text">
                O <strong class="text-primary">Book Swap Hub</strong> foi criado com a missão de conectar pessoas que compartilham a paixão pela leitura e desejam trocar livros de forma fácil e divertida. Nossa plataforma oferece uma maneira conveniente de encontrar outros leitores e expandir sua coleção de livros sem gastar dinheiro.
            </p>
            <p class="card-text">
                Principais recursos do <strong class="text-primary">Book Swap Hub</strong>:
            </p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Catálogo de Livros: Explore uma vasta biblioteca de livros dos usuários, incluindo romances, não-ficção, fantasia e muito mais.</li>
                <li class="list-group-item">Troca de Livros: Encontre pessoas interessadas em trocar livros e inicie trocas diretamente através da plataforma.</li>
                <li class="list-group-item">Comunidade de Leitores: Conecte-se com outros leitores, compartilhe recomendações de leitura e participe de discussões sobre seus livros favoritos.</li>
                <li class="list-group-item">Perfil Personalizado: Crie seu perfil, adicione livros à sua estante virtual e acompanhe suas trocas e interações.</li>
            </ul>
            <p class="card-text mt-3">
                Esperamos que você aproveite o <strong class="text-primary">Book Swap Hub</strong> para descobrir novos livros, fazer novos amigos e expandir sua paixão pela leitura. Junte-se a nós hoje mesmo e comece a explorar o maravilhoso mundo dos livros!
            </p>
            </div>
        </div>
        </div>
    </div>
</div>
  