<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
        <div class="card shadow">
            <div class="card-body">
            <h2 class="card-title text-center mb-4">Contato</h2>
            <p class="card-text">
                Entre em contato conosco da seguinte maneira:
            </p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Email: </strong> <a href="mailto:contato@bookswaphub.com">contato@bookswaphub.com</a></li>
            </ul>
            <p class="card-text mt-4">
                Também estamos presentes nas redes sociais. Siga-nos e fique por dentro das novidades:
            </p>
            <div class="social-icons mt-3">
                <a href="https://www.facebook.com/bookswaphub" class="btn btn-primary btn-social" target="_blank">
                <i class="fab fa-facebook-f"></i> Facebook
                </a>
                <a href="https://twitter.com/bookswaphub" class="btn btn-info btn-social" target="_blank">
                <i class="fab fa-twitter"></i> Twitter
                </a>
                <a href="https://www.instagram.com/bookswaphub" class="btn btn-danger btn-social" target="_blank">
                <i class="fab fa-instagram"></i> Instagram
                </a>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>
  